
.projects{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
  }
  
  .projectDiv{
    width: 85vw;
    height: auto;
    padding-top: 2rem;
  }
  .projectGalary{
    width: 85vw;
    height: 60vh;
    overflow: auto;
    margin-top: 3rem;
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
  }
  .pElements{
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 0.5rem;
    display: flex;
    cursor: pointer;
  }

  .pElementsLink{
    width: 100%;
    height: auto;
    display: flex;
    text-decoration: none;
  }
  .pMiddle{
    height: 100%;
    width: 37vw;
  }
  .pLeft{
    height: 90%;
    width: 27vw;
  }
  .pRight{
    height: 90%;
    width: 27vw;
  }

.ph1, .pp, .pbutton{
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.elementPhoto{
  width: 12rem;
  height: 7rem;
}

.elementPhotoImage{
  width: 12rem;
  height: 7rem;
}

.socialAccounts, .footer{
  background-color: #394867;
}


.myLink:hover{
  background-color: #F1F6F9;
  color: #394867;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}


@media (max-width: 720px) {
  .projectGalary{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    background-color: #e5eaec;

  }

  .pElements{
    display: block;
    width: 80%;
  }
  .pElementsLink{
    display: block;
  }
  .elementPhoto{
    width: auto;
    height: auto;
  }
  .elementPhotoImage{
    width: 100%;
    height: 100%;
  }
}